// Theme Name:  elsch-ausgaben
// Author:      Michael Schaefer
// Author URI:  https://elsch.net
// Version:     1.0 (2018-12)
// Text Domain:	elschnet_td
// *******************************

#nav1, #nav2, #user, #newbudget {
	font-size: 80%;
	display: inline-block;
	margin: 0 5px;
	float: right;
}
#nav1 {
	float: left;
}
#newbudget {
	margin: 20px 0;
	float: left;
}
#user {
	margin: 20px 0;
}

.clear {
    clear: both;
    margin-bottom: 20px;
}


// *******************************
//  einzelne ausgabe/zeile
// *******************************
.ausgabe { 
	background: #fff; 
	font-size: 90%;
	padding: 5px;
	margin-bottom:3px; 	
	
	a { 
		border: none; 
		display: block;
	}

	strong { 
		float: right;
		font-weight: normal;
	}
	
	&.summe {
		padding: 10px 5px;
	}
}

// hintergrundfarbe
.luxus { background-color: lighten( $corporate-color, 40 ); }
.dieselgate { background-color: lighten( tomato, 10 ); } 



// *******************************
//  bargeld bzw. karte-konto icon
// *******************************
@mixin bargeld_svg($color) {
	//https://fontawesome.com/icons/coins?style=solid
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 576 512"><path fill="#{$color}" d="M0 405.3V448c0 35.3 86 64 192 64s192-28.7 192-64v-42.7C342.7 434.4 267.2 448 192 448S41.3 434.4 0 405.3zM320 128c106 0 192-28.7 192-64S426 0 320 0 128 28.7 128 64s86 64 192 64zM0 300.4V352c0 35.3 86 64 192 64s192-28.7 192-64v-51.6c-41.3 34-116.9 51.6-192 51.6S41.3 334.4 0 300.4zm416 11c57.3-11.1 96-31.7 96-55.4v-42.7c-23.2 16.4-57.3 27.6-96 34.5v63.6zM192 160C86 160 0 195.8 0 240s86 80 192 80 192-35.8 192-80-86-80-192-80zm219.3 56.3c60-10.8 100.7-32 100.7-56.3v-42.7c-35.5 25.1-96.5 38.6-160.7 41.8 29.5 14.3 51.2 33.5 60 57.2z"></path></svg>')  no-repeat;
}
.bargeld strong { 
	@include bargeld_svg(grey);
	padding-left: 20px;
	margin-top: 10px;
}
.bargeld.waehrung strong { @include bargeld_svg(orange); }


@mixin karte_svg($color) {
	//https://fontawesome.com/icons/credit-card?style=regular
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 576 512"><path fill="#{$color}" d="M527.9 32H48.1C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48.1 48h479.8c26.6 0 48.1-21.5 48.1-48V80c0-26.5-21.5-48-48.1-48zM54.1 80h467.8c3.3 0 6 2.7 6 6v42H48.1V86c0-3.3 2.7-6 6-6zm467.8 352H54.1c-3.3 0-6-2.7-6-6V256h479.8v170c0 3.3-2.7 6-6 6zM192 332v40c0 6.6-5.4 12-12 12h-72c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h72c6.6 0 12 5.4 12 12zm192 0v40c0 6.6-5.4 12-12 12H236c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h136c6.6 0 12 5.4 12 12z"></path></svg>')  no-repeat;
}
.karte-konto strong { 
	@include karte_svg(grey);
	padding-left: 20px;
	margin-top: 10px;
}
.karte-konto.waehrung strong { @include karte_svg(orange); }



// *******************************
//  icon: luxus, leben, gemeinsam, fixkosten, elschnet
// *******************************
.icon { padding: 2px 0 0 20px; }

.i1 { // voller stern ## https://fontawesome.com/icons/star?style=solid
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 576 512"><path fill="#4db5f5" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>')  no-repeat;
}
.i0 { // leerer stern ## https://fontawesome.com/icons/star?style=regular
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 536 512"><path fill="#aaa" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"></path></svg>')  no-repeat;
}
.il { // leben herz ## https://fontawesome.com/icons/heartbeat?style=solid
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 512 512"><path fill="#008000" d="M320.2 243.8l-49.7 99.4c-6 12.1-23.4 11.7-28.9-.6l-56.9-126.3-30 71.7H60.6l182.5 186.5c7.1 7.3 18.6 7.3 25.7 0L451.4 288H342.3l-22.1-44.2zM473.7 73.9l-2.4-2.5c-51.5-52.6-135.8-52.6-187.4 0L256 100l-27.9-28.5c-51.5-52.7-135.9-52.7-187.4 0l-2.4 2.4C-10.4 123.7-12.5 203 31 256h102.4l35.9-86.2c5.4-12.9 23.6-13.2 29.4-.4l58.2 129.3 49-97.9c5.9-11.8 22.7-11.8 28.6 0l27.6 55.2H481c43.5-53 41.4-132.3-7.3-182.1z"></path></svg>')  no-repeat;
}
.ig { // gemeinsam user ## https://fontawesome.com/icons/user-friends?style=solid
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 640 512"><path fill="#0E0679" d="M192 256c61.9 0 112-50.1 112-112S253.9 32 192 32 80 82.1 80 144s50.1 112 112 112zm76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C51.6 288 0 339.6 0 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2zM480 256c53 0 96-43 96-96s-43-96-96-96-96 43-96 96 43 96 96 96zm48 32h-3.8c-13.9 4.8-28.6 8-44.2 8s-30.3-3.2-44.2-8H432c-20.4 0-39.2 5.9-55.7 15.4 24.4 26.3 39.7 61.2 39.7 99.8v38.4c0 2.2-.5 4.3-.6 6.4H592c26.5 0 48-21.5 48-48 0-61.9-50.1-112-112-112z"></path></svg>')  no-repeat;
}
.if { // fixkosten home ## https://fontawesome.com/icons/home?style=solid
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 576 512"><path fill="#F7CF08" d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z"></path></svg>')  no-repeat;
}
.ie { // elschnet home ## https://fontawesome.com/icons/home?style=solid
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 576 512"><path fill="tomato" d="M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z"></path></svg>')  no-repeat;
}
.is { 
	@include bargeld_svg(grey);
}



// *******************************
//  budgetauslastung + "zeitstrahl"
// *******************************
.legende { 
	padding: 10px; 
	margin-bottom:3px; 
	position: relative; 
	color: #fff; 
	background: grey; 
	
	em { 
		position: absolute; 
		right: 10px; top: 10px; 
	}
	
	a {
		color: #fff; 
		border: none;
	}
	
	span { 
		background: $corporate-color;
		padding: 10px 0; 
		display: inline-block; 
		
		em { 
			position: absolute; 
			left: 10px; top: 10px; 
		}
	}
		
	&.filter { 
		background: orange;
		color: #000;
		
		a {
			display: inline-block;
			width: 15px;
			background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 352 512"><path fill="#000" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg>')  no-repeat;
			border: none;
		}
	}
	
	&.strahl { 
		padding: 0;
		
		span { 
			width: 0; 
			animation: strahl 3s forwards; 
			animation-iteration-count: 1; 
			transition: width .8s ease; 
		}
	}	
}



// *******************************
//  kreisdiagramm
// *******************************
.kreisdiagramm { 
	background: grey;
	padding: 5px 0;
	margin-bottom: 3px;
}
.pie { 
	border-radius: 50%; 
	width: 200px; height:200px; 
	margin: 0 auto;
}
