// Theme Name:  elsch-ausgaben
// Author:      Michael Schaefer
// Author URI:  https://elsch.net
// Version:     1.0 (2018-12)
// Text Domain:	elschnet_td
// *******************************


html { 
	display: block;
	overflow-y: scroll; // verticale scrollbar erzwingen
	overflow-x: hidden; // horizontale scrollbar verbieten
	
	scroll-behavior: smooth; // smooth scroll
	// funktioniert aktuell nur in chrome+firefox
	// https://caniuse.com/#search=scroll-behavior
}


body {
	background: $body-background; 
	color: $body-font-color;	
	font-family: $body-font;
	background-size: cover;
}

main {
	display: block; // für browser, die 'main' noch nicht kennen
	height: 100%;
	
	.grid__cell {
		padding:0;
	}
}

.content-body {
	margin: 0 5px;
	background: $content-background;
	padding: .5rem;
	min-height: 50rem;
}

// keine unterstrichenen links
// mach ich selbst, wenn benötigt!
a {
	text-decoration: none;
	@extend %standardlink; 
	
	// kein hintergrund bei touch
	// https://stackoverflow.com/a/11885330
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	
	&:focus {
		outline: none;
	}
}


	
.right {
	float: right;
}


// auf mobile oder desktop anzeigen
.desktop {
	display: none;
	@include av-mq(widescreen) {
		display: inline;
	}
}
.mobile {
	display: inline;
	@include av-mq(widescreen) {
		display: none;
	}
}


// standardaussehen aller buttons
.elsch-ausgaben button {
	text-align: center;
	/*height: 40px;*/
	vertical-align: middle;
	position: relative;
	color: $button-text;
	font-family: Roboto, Arial, sans-serif;
	font-size: 18px;
	background-color: $button-background;
	padding: 9px 17px;
	border-radius: $button-border-radius;
	background-clip: padding-box;
	min-width: 44px;
	font-weight: 500;
	border: 0;
	cursor: pointer;
		
	&:hover {
		background-color: $button-background-hover;
		animation: flash 1.5s;
		color: $button-text-hover;
	}
	
	&:active {
		position: relative;
		top: 1px;
	}	
		
	a {
		border: none;
		color: $button-text;
		display: block;
		
		&:hover {
			background: none;
			color: $button-text-hover;
		}
	}
	
	&.einzeln,
	&.archiv {
		width: 100%;
		max-width: 400px;
		padding: 5px 10px;		
		margin: 2rem 0;
		text-align: center;
		display: block;
	}
	
	&.archiv {
		margin: .3rem 0;
	}
}


// reponsive!
img {
	max-width: 100%;
	height: auto;
}


// element wird nur angezeigt, wenn javascript aktiv ist
.jsonly { visibility: hidden; width: 0; }
.js .jsonly { visibility: visible; width: auto; } 

	
.grid {
	max-width: 450px;
	margin: 0 auto;
	
	@include av-mq(desk) {
		padding-right: 150px;
		background: lighten($corporate-color,30)
	}
}


// grafiken wieder sichtbar machen
// wurden im header/critical stylesheet ausgeblendet
svg { visibility: visible; }



// loading-button
#load { vertical-align: bottom; }



// vor zurück auf mobilen seiten
#nav {
	text-align: center;
	margin: 2rem .5rem 0 .5rem;
	display: block;
	clear: both;
	margin-bottom: 8rem;
	
	button {
		font-weight: bold;
	}
	
	@include av-mq(widescreen) {
		display: none;
	}
}


// headline
h1 {
	color: white;
	font-family: Roboto, Arial, sans-serif;
	font-size: 22px;
	padding: 0 .5rem;
}
