// Theme Name:  elsch-ausgaben
// Author:      Michael Schaefer
// Author URI:  https://elsch.net
// Version:     1.0 (2018-12)
// Text Domain:	elschnet_td
// *******************************

// INHALT
// archive-budget.php
// budget-auslastung.php


// archive-budget.php
.legende.dropdown {
	background: #fff;
	
	a {
		border: none;
		display: block;
	}
}





// budget-auslastung.php
#bud {
	display: block;
	margin: 0;
	padding: 0
	
	thead, tbody, tfoot {
		margin: 0;
		padding: 0
	}
	
	tr:nth-child(even) { background: #efefef; }
	tr:nth-child(odd)  { background: #fff; }
	
	th, tfoot td {
		padding: 10px 5px;
		font-weight: bold;
		background: lighten( $corporate-color, 40 ); 
	}
	
	td {
		width: 91px;
		padding: 5px;
		text-align: right;
		
		&:nth-of-type(1) {
			text-align: left;
		}
		
		&.grey { color: grey; }
		&.red { color: tomato; }
		
		a { border: none; }
	}

	tfoot td:nth-of-type(1) { text-align: center; }
}