// Theme Name:  elsch-ausgaben
// Author:      Michael Schaefer
// Author URI:  https://elsch.net
// Version:     1.0 (2018-12)
// Text Domain:	elschnet_td
// *******************************

// diesel-maxwomo.php


.dieselpreis {
	background: darken(tomato, 10);
	//background: orange;
	padding: 10px;
	margin-bottom: 3px;
	position: relative;
	height: 18px;
	
	span {
		position: absolute;
		width: 350px;
		color: #fff;
	}
}