// Theme Name:  elsch-ausgaben
// Author:      Michael Schaefer
// Author URI:  https://elsch.net
// Version:     1.0 (2018-12)
// Text Domain:	elschnet_td
// *******************************

// css: max-width 1024
// php: wp_is_mobile schaut auf user_agent "mobile"
// das ist nicht das gleiche! bleibt aber so.
@include av-mq(portable) {

	footer {
		position: fixed;
		left: 0px;
		bottom: 0px;
		height: $mobile-footer-nav-height;
		width: 100%;
		background: linear-gradient(to bottom, rgba($content-background,0) 0%, rgba($mobile-nav-background,1) 25%);
		color: #fff;
		padding-top: $mobile-footer-nav-padding-top;
		padding-bottom: $mobile-footer-nav-padding-bottom;
		text-align: center;	

		a {
			width: 30%;
			font-size: 12px;
			color: grey;
			border: none;
			user-select: none;
		}
		
		
		#svgplus {
			margin-top: -30px;
			fill: grey;
			width: 80px; height: 80px;
		}
		
		#svgtorte, #svgbalken {
			fill: grey;
			width: 30px; height: 30px;
		}
		
		.active {
			#svgplus, #svgtorte, #svgbalken {
				fill: $corporate-color;
			}
		}
	}
	
	.content-body {
		padding-bottom: $content-margin-bottom;
	}
}


