// Theme Name:  elsch-ausgaben
// Author:      Michael Schaefer
// Author URI:  https://elsch.net
// Version:     1.0 (2018-12)
// Text Domain:	elschnet_td
// *******************************


// **********************************************
//  globale Klassen
// **********************************************
// einbau mit z.b. @extend %fliesstext;
%fliesstext {
	color: $fliesstext-font-color;
	text-rendering: optimizeLegibility;
	font-family: $font-fliesstext;
	font-size: $schrift-m;
	font-weight: normal;
	line-height: 150%;
}


%link-transition {
	transition: all .8s ease;
}


%standardlink {
	color: $body-font-color;
	border-bottom: 1px solid #ccc;	
	@extend %link-transition;
	display: inline-block;
	padding: 0;
	
	&:hover {
		//background: $link-hover-background-color;
	}
}

// schöne hover-animation
// aufruf über  a:hover { animation: flash 1.5s; }
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

// clearfix
// @https://blog.kulturbanause.de/2015/07/sass-clearfix/
// so nutzen: .mein-selektor { @extend %clearfix; }
%clearfix {
	&::before,
	&::after {
		content: " ";
		display: table;
		clear: both;
	}
}