// Theme Name:  elsch-ausgaben
// Author:      Michael Schaefer
// Author URI:  https://elsch.net
// Version:     1.0 (2018-12)
// Text Domain:	elschnet_td
// *******************************

// css: min-width 1025
@include av-mq(desk) {

	header {
		position: fixed;
		left: auto;
		top: auto; 
		min-height: $mobile-header-nav-height;
		width: 100%;
		background: linear-gradient(to top, rgba($content-background,0) 0%, rgba($mobile-nav-background,1) 25%);
		color: #fff;
		padding-top: $mobile-header-nav-padding-top; 
		padding-bottom: $mobile-header-nav-padding-bottom;
		padding-left: 10px;
		padding-right: 10px; 
		z-index: 50;
		
		svg {
			fill: #666;
		}	
		
		h1, h2 {
			vertical-align: super;
			color: $corporate-color;
			font-size: 1.6rem;
			font-weight: normal;
			margin: 5px 0 0 0;
			padding: 0;
			display: inline;
			float: left;			
		}
		
		h2 {
			font-size: 1.1rem;
			margin: 0;
		}
	}	
	
	.content-body {
		padding-top: $content-margin-top;
	}
	
	
	.right {
		position: fixed;
		margin: 10px;
		display: block;
		left: 0;
		top: 0;
		width: 500px;
		background: lighten($corporate-color,30)
	}
}