// Theme Name:  elsch-ausgaben
// Author:      Michael Schaefer
// Author URI:  https://elsch.net
// Version:     1.0 (2018-12)
// Text Domain:	elschnet_td
// *******************************


#ausgabe {
	
	input, textarea, .elschselect, button, .auswahl, #a_budget, #a_elschnet {
		font-family: $body-font;
		font-size: 18px;	
		color: #666;
		background: #fff;
		border: solid 2px grey;
		border-radius: 10px;
		width: calc( 98% - 15px ); 		
		padding: 10px;
	}

	// kategorien
	.elschselect {
		padding: 10px 5px;
		display: block;		
		width: calc( 98% - 5px ); 
		margin-bottom: 5px;
		clear: both;
		
		&.land {
			clear: none;
			float: left;
			width: 50%; 
			padding-right: 15px;
			border-left: none;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
				
		select {
			appearance: none;
			cursor: pointer;
			outline: none;
			overflow: hidden;
			border: none;
			padding: 0 5px;
			color: #666;
			width: 100%;
		}
	}

	
	// betrag + währung + datum
	// kilometerstand, betrag/liter, liter
	input {
		height: 20px;
		margin-bottom: 5px;
		
		// betrag
		&#a_betrag {
			float: left;
			width: 70%;
			border-right: none;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		
		// währung
		&#a_waehrung {
			float: left;
			width: calc( 30% - 44px); // minus 4x10px padding betrag+waehrung minus 2x2px border;
			border-left: none;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			background: grey;
			color: #fff;
		}
		
		
		// kilometerstand, betrag/liter, liter, land
		&.labelleft {
			float: left;
			width: 50%;
			border-left: none;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
		
		// datum
		&#a_datum {
			background: #fff; 
			width: calc( 48% - 15px ); 
			text-align: center;
			height: 40px;
			
			@supports not (-webkit-overflow-scrolling: touch) {
				// nur desktop, nicht ios
				// https://stackoverflow.com/a/47818418
				font-size: 1.2rem;
				text-align: left;
				height: 20px;
			}			
		}
	}
	
	
	// beschriftung für kilometerstand, betrag/liter, liter, land
	label.labelleft {
		float: left;
		width: calc( 50% - 44px); // minus 4x10px padding betrag+waehrung minus 2x2px border;
		height: 20px;
		margin-bottom: 5px;
		padding: 10px;
		border: solid 2px grey;
		border-radius: 10px;
		font-size: 18px;
		border-right: none;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		background: grey;
		color: #fff;
	}
	
	// budget
	#a_budget, #a_elschnet {
		text-align: left; 
		margin-bottom: 5px;
		background: #ddd;
	}

	// submit
	button {
		height: 45px;
		background: $corporate-color;
		color: #fff;
		width: 40%; 
		text-align: center;
		float: right;
	}


	// budget ändern
	#a_auswahlen {
		margin: 15px 0 10px 0;
	}
	.auswahl {
		display: inline-block;
		overflow: hidden;
		width: 99%;
		margin-bottom: 2px;
		padding: 0;
		background: #efefef;

		input[type=radio] {
			position: absolute;
			visibility: hidden;
			display: none;
		}
		
		label {
			color: #666;
			display: inline-block;
			cursor: pointer;
			font-weight: bold;
			padding: 5px 0;
			width: 49%;
			text-align: center;
			float: left;
			height: 20px;
			text-transform: uppercase;
			background: #fff;
			
			&:nth-of-type(2) { float: right; }	
			
			&.drei {
				width: 33%;
				
				&:nth-of-type(2) { float: none; /*width: 32%;*/ }	
				&:nth-of-type(3) { float: right; }	
			}
		}

		input[type=radio]:checked + label{
			color: #fff;
			background: grey;
		}
	}
	
}

.fixkosten {
	
	header h1 {
		color: tomato;
	}
	
	#ausgabe button {
		background: tomato;
	}
	
	footer .active #svgplus {
		fill: tomato;
	}
	
}