// Theme Name:  elsch-ausgaben
// Author:      Michael Schaefer
// Author URI:  https://elsch.net
// Version:     1.0 (2018-12)
// Text Domain:	elschnet_td
// *******************************


#menu-hauptnavigation {
	margin-top: 4rem;
	
	ul {
		margin: 0;
		padding: 0;
	}
}


// toggle-checkbox und full-screen-close
.toggle, 
.full-screen-close {
	display: none;
}

.full-screen-close {
	width: 100%;
	height: 100%;
	position: absolute;
	cursor: pointer;
	top:0;
	left:0;
}



// menüverhalten
.toggle:checked + .container > .menu-container {
  	margin-left: 0;
}

.toggle:checked + .container > .content .full-screen-close {
  	display: block;
  	background: rgba(0,0,0,.5);
	z-index: 300;
}


// buttons
.close-btn {
	cursor: pointer;
	font-size: 2.25rem;
	float: right;
	padding: 1.5rem;
}

.toggle-btn {
	cursor: pointer;
	font-size: 2.25rem;
	margin-right: 1rem;
	float: left;
}


// transition
.menu-container, 
.content {
	transition: margin 0.5s ease-in-out;
}


// navigation hintergrund
.menu-container {
	background: $offcanvas-background;
	width: 100%;
	margin-left: -100%;	
	float: left;
	height: 100%;
	position: absolute;
	position: fixed;	
	z-index: 400;
	
	@include av-mq(widescreen) { 		
		width: 30%;
	}
}

	
// menü
.slide ul {
	list-style-type: none; 
	padding: 0;

	li, li a {
		color: #fff;
		font-size: 1.125rem;
		text-transform: uppercase;
		font-weight: 600;
	}
	
	li a {
		display: block;		
		padding: .8rem;
		transition: background-color .5s ease-in-out;
		border: none;
		
		&.active, &:hover {
			background-color: $offcanvas-active-background;
		}
	}
}

.filterlinks {
	margin-top: 10px; 
	background: #777;
	padding: 1.2rem 0 .4rem 0; 
	
	span { 
		padding-left: 1.2rem; 
		display: block;
		color: orange;
	}
	
	ul li a {
		padding: .8rem 0 .8rem 3rem;
	}
}
