// Theme Name:  elsch-ausgaben
// Author:      Michael Schaefer
// Author URI:  https://elsch.net
// Version:     1.0 (2018-12)
// Text Domain:	elschnet_td
// *******************************

// single.php + aendern-loeschen.php


.content-body.single {
	padding-bottom: 200px;

	
	.field {
		padding: 5px;
		font-size: 80%;
		
		&::after {
			content: "";
			clear: both;
			display: table;
		}
	}

	
	#savedate {
		width: 220px;
		padding: 5px;
		float: right;
		display: inline-block;
	}
	

	#ausgabe {
	
		input, textarea {
			width: 80%;
			display: block;
			float: none;
			margin-left: 15%;
		}
		
		textarea {
			height: 140px;
		}		
		
		input#a_datum {
			width: 80%;
			appearance: textfield;
			text-align: left;
			height: 20px;
		}
		
		
		.elschselect {
			padding-right: 15px;
			width: 80%;
			display: block;
			float: none;
			margin-left: 15%;
			
			&.land {
				border: solid 2px grey;
				border-radius: 10px;
			}
		}
		
		
		button {
			border: none; 
			float: right;
			
			&#delete {
				float: left;
				background: tomato; 
				
				a { color: #fff }
			}
			
			&#submit {
					
				&::after {
					content: "";
					clear: both;
					display: table;
				}
			}
			
			&.abbrechen {
				background: #fff
			}
		}
		
		
		&.readonly {
		
			.field {
				color: #666;
				margin-bottom: 2px;
				border: 1px solid #ccc;
				border-radius: 5px;
			
				&.g {
					background: #d6d6d6;
				}
			}
			
			input, .textarea, .elschselect {
				width: 220px;
				padding: 5px;
				float: right;
				font-size: 16px;
				border: #fff;
				background: inherit;
				color: #000;
				margin-left: 0;
			}		
		}
	}
	
	
	.frage {
		font-size: 18px;
		line-height: 150%;
		padding: 20px; 
	}
}