// Theme Name:  elsch-ausgaben
// Author:      Michael Schaefer
// Author URI:  https://elsch.net
// Version:     1.0 (2018-12)
// Text Domain:	elschnet_td
// *******************************



// **********************************************
//  Grid
// **********************************************
$av-widths: ( ) !default; 

//breakpoints so aufrufen
//@include av-mq(widescreen) {}
$av-breakpoints:  (
	"thumb":            "screen and (max-width: 649px)",
	"handheld":         "screen and (min-width: 650px) and (max-width: 870px)",
	"handheld-and-up":  "screen and (min-width: 650px)",
	"pocket":           "screen and (max-width: 870px)",
	"lap":              "screen and (min-width: 871px) and (max-width: 1024px)",
	"lap-and-up":       "screen and (min-width: 871px)",
	"portable":         "screen and (max-width: 1024px)",
	"desk":             "screen and (min-width: 1025px)",
	"widescreen":       "screen and (min-width: 1160px)",
	"retina":           "screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx)"
) !default; // Responsive breakpoints. Add/remove as appropriate

// Enable/disable grid layouts
$av-enable-grid-center:       false !default;
$av-enable-grid-cell-center:  false !default;
$av-enable-grid-right:        true !default;
$av-enable-grid-middle:       false !default;
$av-enable-grid-bottom:       false !default;
$av-enable-grid-flush:        false !default;
$av-enable-grid-tiny:         false !default;
$av-enable-grid-small:        false !default;
$av-enable-grid-large:        false !default;
$av-enable-grid-huge:         false !default;
$av-enable-grid-auto:         false !default;
$av-enable-grid-rev:          true !default;
//https://github.com/colourgarden/avalanche 
//http://colourgarden.net/avalanche/


// **********************************************
//  Seitenaufbau (mobile)
// **********************************************
$mobile-header-nav-height: 60px;
$mobile-header-nav-padding-top: 40px;
$mobile-header-nav-padding-bottom: 10px;
$content-margin-top: 	$mobile-header-nav-height + 
						$mobile-header-nav-padding-bottom + 
						$mobile-header-nav-padding-top;

$mobile-footer-nav-height: 65px;
$mobile-footer-nav-padding-top: 30px;
$mobile-footer-nav-padding-bottom: 10px;
$content-margin-bottom: $mobile-footer-nav-height + 
						$mobile-footer-nav-padding-top + 
						$mobile-footer-nav-padding-bottom + 10px;



// **********************************************
//  Farben
// **********************************************
$corporate-color: #1da1f2; 

// dunkleres grau
$body-background: #d6d6d6;
$mobile-nav-background: $body-background;
$header-background: $body-background;

// helleres grau
$content-background: #efefef; 

$body-font-color: #16161d; //eigengrau

// normale texte
$fliesstext-font-color: $body-font-color;
$link-hover-font-color: $corporate-color;
$link-hover-background-color: #efefef; 



// offcanvas
$offcanvas-background: darken($body-background,30);
$offcanvas-active-background: #358BFE; //hellblau

// buttons
$button-filter-active: #F89630; // orange: aktiver button in filter modal
$button-border-radius: 2px;
 
$button-background: #fff;
$button-background-hover: #ebebeb; // helles grau

$button-text: #565656; // dunkles grau
$button-text-hover: #000; 



$svg-marker: #194198; // mittleres blau
// bei änderung: auch in mapmarker.php {$svg_std_color} anpassen

/*
$sidebar-background: inherit; 
$main-background: rgba(#fff,.4); 
$logo-farbe: orange;
*/

/*
// navigation oben
$nav-font-color: #fff;
$nav-background: $corporate-color;
$nav-background-rgba: rgba( $corporate-color, 1);
$nav-active-background: darken($corporate-color,10);
$nav-hover-background: darken($corporate-color,20);
*/

/*
// kategorien
$kat-font-color: #000;
$kat-hover-background: #cfcfcf;
*/

/*
// wp-gallery
$gallery_border: #cfcfcf;
$gallery_border_hover: #000;
$gallery_border_sammlung: $corporate-color;
$gallery_tooltip: #000;
*/

/*
// kommentare
$submit-font-color: $body-font-color;
$submit-hover-background: $corporate-color;
$submit-hover-font-color: #fff;
*/

// bearbeiten-links
$link-bearbeiten-font-color: tomato;
$link-bearbeiten-background-color: #fff;


// **********************************************
//  Schriften, Headlines
// **********************************************
$body-font: Roboto, 'Helvetica Neue', Helvetica, Verdana, Sans-Serif;
$font-fliesstext: Hack, 'Helvetica Neue', Helvetica, Verdana, Sans-Serif;
$navigation-font: $body-font;


// **********************************************
//  Schriftgrößen
// **********************************************
$schrift-xs: .8rem;
$schrift-s: 1rem;
$schrift-m: 1.75rem; //normale schriftgröße
$schrift-l: 2.75rem;

