// Theme Name:  elsch-ausgaben
// Author:      Michael Schaefer
// Author URI:  https://elsch.net
// Version:     1.0 (2018-12)
// Text Domain:	elschnet_td
// *******************************

@charset 'UTF-8';


// editoren
//.role-editor {

	// optionen beim veröffentlichen von posts auf mobilen geräten ausblenden
	.mobile #minor-publishing {
		display: none;
	}
//}


.wp-admin #wpadminbar #wp-admin-bar-elschnet-home>.ab-item:before {
    content: "\f102";
}
@media screen and (max-width: 782px) {
	#wpadminbar #wp-admin-elschnet-home>.ab-item:before {
		display: block;
		text-indent: 0;
		font: normal 32px/1 dashicons;
		speak: none;
		top: 7px;
		width: 52px;
		text-align: center;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	#wpadminbar li#wp-admin-bar-elschnet-home {
		display: block;
	}
}


// ios: zoom auf felder abstellen
// https://stackoverflow.com/a/6394497
//@media screen and (-webkit-min-device-pixel-ratio:0) { 
	.acf-field input[type="text"], 
	.acf-field input[type="password"], 
	.acf-field input[type="number"], 
	.acf-field input[type="search"], 
	.acf-field input[type="email"], 
	.acf-field input[type="url"], 
	.acf-field textarea, 
	.acf-field select,
	input[type="text"], 
	input[type="password"], 
	input[type="number"], 
	input[type="search"], 
	input[type="email"], 
	input[type="url"], 
	textarea, 
	select {
		font-size: 16px !important;
		
		&:focus{
			font-size: 16px !important;
			background: #eee;
		}	
	}
//}
