// Theme Name:  elsch-ausgaben
// Author:      Michael Schaefer
// Author URI:  https://elsch.net
// Version:     1.0 (2018-12)
// Text Domain:	elschnet_td
// *******************************



// **********************************************
//  Entwicklung: ja/nein
// **********************************************
// bei entwicklung lokales laden der schriften abschalten
$entwicklung: true; // true false 
// elschtodo: deaktivieren im live-betrieb!




// **********************************************
//  Fonts lokal einbinden
// **********************************************
// https://google-webfonts-helper.herokuapp.com/fonts/
@import "vendor/_font-roboto";
//@import "vendor/_font-hack";



// **********************************************
//  Icon-Font einbinden
// **********************************************
// http://fontello.com/
@font-face {
	font-family: 'elschnet';
	font-style: normal;
	font-weight: normal;
	src: 	url('../fonts/elschnet.woff2') format('woff2'), 
			url('../fonts/elschnet.woff') format('woff'); 
}