#position button,
#result button {
  color: #565656;
  fill: #565656; }
  #position button:hover,
  #result button:hover {
    color: black;
    fill: black; }
  #position button span,
  #result button span {
    vertical-align: super; }

#position button#suche,
#position button.search-button,
#result button#suche,
#result button.search-button {
  width: 18%;
  padding: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

#position input,
#result input {
  width: calc(80% - 20px);
  height: 40px;
  padding: 0 10px;
  border: 0;
  margin-top: 3px;
  vertical-align: bottom;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px; }

#msg button {
  margin: 20px 0 0 0;
  float: right; }
