.appicon {
  width: 80px;
  background-image: url(assets/images/app_icons.png);
  background-repeat: no-repeat;
  padding: 85px 0 0 0;
  text-align: center;
  border: 0;
  margin: .5rem .5rem .5rem 0;
  font-size: 80%;
  display: inline-block;
  cursor: pointer; }
  .appicon:hover {
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s; }
  .appicon.apple {
    background-position: 0 0; }
  .appicon.google {
    background-position: -80px 0; }
  .appicon.here {
    background-position: -160px 0; }
  .appicon.mapme {
    background-position: -240px 0; }
  .appicon.osm {
    background-position: -320px 0; }
  .appicon.simple {
    background-position: -400px 0; }
  .appicon.tripadv {
    background-position: -480px 0; }
  .appicon.photo {
    background-position: -560px 0; }
