// Theme Name:  elsch-ausgaben
// Author:      Michael Schaefer
// Author URI:  https://elsch.net
// Version:     1.0 (2018-12)
// Text Domain:	elschnet_td
// *******************************


article {
	margin-bottom: 1rem;
	@extend %clearfix;
	
	h1, h2, h3, h4, h5, h6, 
	p, ul, ol, hr {
		max-width: 750px; 
		margin: .5rem 0;
	}
	
	p {
		margin-top: 1rem;
		line-height: 140%;
	}
		
	a {
		@extend %standardlink; 
	}	
}