// Theme Name:  elsch-ausgaben
// Author:      Michael Schaefer
// Author URI:  https://elsch.net
// Version:     1.0 (2018-12)
// Text Domain:	elschnet_td
// *******************************

// diese styles schreibt die google-maps-api normalerweise in den head der seite
// wir filtern das über ein script in footer-script.php heraus 

.gm-style .gm-style-mtc label,.gm-style .gm-style-mtc div {font-weight:400}
.gm-control-active>img {box-sizing:content-box;display:none;left:50%;pointer-events:none;position:absolute;top:50%;transform:translate(-50%,-50%)}
.gm-control-active>img:nth-child(1){display:block}
.gm-control-active:hover>img:nth-child(1),.gm-control-active:active>img:nth-child(1){display:none}
.gm-control-active:hover>img:nth-child(2),.gm-control-active:active>img:nth-child(3){display:block}
.gm-ui-hover-effect{opacity:.6}
.gm-ui-hover-effect:hover{opacity:1}
.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px;box-sizing:border-box}
@media print {.gm-style .gmnoprint,.gmnoprint {display:none}}
@media screen {.gm-style .gmnoscreen,.gmnoscreen {display:none}}
.gm-style-pbc{transition:opacity ease-in-out;background-color:rgba(0,0,0,0.45);text-align:center}
.gm-style-pbt{font-size:22px;color:white;font-family:Roboto,Arial,sans-serif;position:relative;margin:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}	

