// Theme Name:  elsch-ausgaben
// Author:      Michael Schaefer
// Author URI:  https://elsch.net
// Version:     1.0 (2018-12)
// Text Domain:	elschnet_td
// *******************************


// **********************************************
//  über der karte: rechts (header)
// ********************************************** 
header {
	height: 2rem;
	padding: 1rem .5rem;
	@include av-mq(widescreen) {
		padding: 1rem 0;
	}
	
	svg {
		vertical-align: text-bottom;
	}
	
	.koordinaten {
		margin-top: 5px;
		text-align: right;
		clear: both;
		font-size: 80%;
	}
		
	// link in mobile
	#pos {
		display: block;
		text-align: right;
		color: $body-font-color;
		font-size: 80%;
		margin-top: 5px;
		float: right;
	}
}


// **********************************************
//  buttons unter der karte: links+rechts (footer)
// ********************************************** 
.content-footer {
	padding: 1rem .5rem 5rem .5rem;
	@include av-mq(widescreen) {
		padding: 1rem 0;
	}
	
	h2 { //"x gefundene orte" u.ä.
		padding: 0;
		margin: 1rem 0 0 0;
		font-size: $schrift-s;
		
		span {
			font-weight: 300;
		}
		
		a {
			color: $body-font-color;
		}
	}
	
	
	form { // button "orte anzeigen"
		display: inline;
	}
		
	button {
	
		a, svg {
			color: rgb(86, 86, 86);
			fill: rgb(86, 86, 86);
		}
		
		&:hover a,
		&:hover svg {
			color: rgb(0, 0, 0);
			fill: rgb(0, 0, 0);
		}
		
		
		&.filter_button {
			
			&.active {
				background: $button-filter-active;
				//border-radius: $button-border-radius;
				//background-clip: padding-box;
				
				a {
					color: black;
				}
			}
		}
		
		&.neu_button, 
		&.share_button {
			padding: 0;
			float: right;
			padding: 10px 0;
			margin-left: 4px;
		}		
	}	
}


#luftlinie {
	display: block;
	margin: .3rem 0
}




// *******************************
// auflistung gefundene orte
// *******************************
#orte_liste {
	
	@include av-mq(widescreen) {
		div {
			max-width: 500px;
		}
		p {
			margin: 10px 20px;
		}
	}
	
	a {
		border: none;
		color: #fff;
	}
	
	p#sortierung {
		font-weight: bold;
		
		a {
			font-weight: normal;			
		}
	}
	
	
	button {		
		display: block;
		height: 50px;
		padding: 0 23px 0 70px;
		border-radius: 5px;
		width: 100%;		
		text-align: left;
		margin: 15px 0;
		
		@include av-mq(widescreen) { margin: 10px 20px; }
		
		svg { // icon
			width: 40px;
			height: 30px;
			left: 10px;
			position: absolute;
			fill: $svg-marker;
		}
		
		a { color: #000; font-size: 16px; }
		
		small { // kategorie
			display: block;
			color: $svg-marker;
		}
		
		span { // ort + entfernung
			float: right;
			text-align: right;
			font-size: 80%;
			color: lighten(#000, 70%);
		}
	}
}



// **********************************************
//  karte (content-body) 
// **********************************************
.content-body {
	height: 80%;
	display: block;
	clear: both;
}

.box {
	margin-top: 3rem;
	background: rgba(#fff, .1);
	padding: 1rem .5rem 2rem .5rem; 
	min-height: 50rem;
	display: block;
	overflow: auto;
}

#map {
	height: 480px; // dieser wert wird eventuell von js überschrieben
} 

// link in maps-infowindow
.gm-style .gm-style-iw #popup a {
	color: #194198;
	font-weight: bold;
	border: none;
	font-size: 16px;
}   


// **********************************************
//  archive
// **********************************************
#sortierung {
	span { text-transform: uppercase; }
	a { border-bottom: 1px solid #fff; }
}
