// Theme Name:  elsch-ausgaben
// Author:      Michael Schaefer
// Author URI:  https://elsch.net
// Version:     1.0 (2018-12)
// Text Domain:	elschnet_td
// *******************************


#filter {

	.umkreis, .kategorie, .special {
		margin: 10px 0;
	}
	
	span {
		width: 90px;
		display: inline-block;	
	}

	button {
		height: auto;
		padding: 0px;
		margin: 2px;
		
		// absenden
		&#orte_filtern {
			margin: 20px 0 0 0;
			padding: 0 23px;
			float: right;
			height: 40px;
		}
	}
	
	a.u, a.k, a.k-all, a.s-all, a.s, a.b-all, a.b {
		display: block;		
		padding: 5px 10px;
		color: rgb(86, 86, 86);
		font-size: 85%;
	}
	
	a.active {
		background: $button-filter-active !important;
		color: rgb(0, 0, 0);
		border-radius: $button-border-radius;
		background-clip: padding-box;
	}
}
