// Theme Name:  elsch-ausgaben
// Author:      Michael Schaefer
// Author URI:  https://elsch.net
// Version:     1.0 (2018-12)
// Text Domain:	elschnet_td
// *******************************


.appicon {
    width: 80px;
    background-image: url(assets/images/app_icons.png);
    background-repeat: no-repeat;
    padding: 85px 0 0 0;
    text-align: center;
    border: 0;
    margin: .5rem .5rem .5rem 0;
	font-size: 80%;	
    display: inline-block;
	cursor: pointer;
		
	&:hover {
		//background-color: none;
		animation: flash 1.5s;
	}
	
	&.apple		{ background-position: 0 0; }
	&.google	{ background-position: -80px 0; }
	&.here		{ background-position: -160px 0; }
	&.mapme		{ background-position: -240px 0; }
	&.osm 		{ background-position: -320px 0; }
	&.simple	{ background-position: -400px 0; }
	&.tripadv	{ background-position: -480px 0; }
	&.photo 	{ background-position: -560px 0; }
}