// Theme Name:  elsch-ausgaben
// Author:      Michael Schaefer
// Author URI:  https://elsch.net
// Version:     1.0 (2018-12)
// Text Domain:	elschnet_td
// *******************************

.open svg {
	transform: rotate(180deg);
}

#wetter {
	td {

		img { width:60px; }
		&.sym img { width:50px; }

		&:nth-child(1) { width: 90px; text-align: right; padding-right: 20px; font-weight: bold; }
		&:nth-child(2) { width: 100px; text-align: center; }
		&:nth-child(3) { width: 90px; text-align: left; padding-left: 20px; }
	}

	tr.detail { 
		margin-bottom: 20px;
		background: rgba( #fff, .1 );
		
		td:first-child {
			font-weight: normal;
		}
	}
	
	tr.leer {
		height: 40px;
		background: none;
	}

}
