// Theme Name:  elsch-ausgaben
// Author:      Michael Schaefer
// Author URI:  https://elsch.net
// Version:     1.0 (2018-12)
// Text Domain:	elschnet_td
// *******************************

#position,
#result {
	button {
		color: rgb(86, 86, 86);
		fill: rgb(86, 86, 86);
		
		&:hover {
			color: rgb(0, 0, 0);
			fill: rgb(0, 0, 0);
		}
				
		// buttons mit text und svg
		// bspw. in mobile such-modal
		span {
			vertical-align: super;
		}	
	}

	button#suche,
	button.search-button {
		width: 18%;
		padding: 0;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	
	input {
		width: calc(80% - 20px);
		height: 40px;
		padding: 0 10px;
		border: 0;
		margin-top: 3px;
		vertical-align: bottom;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
	}	
	
}


#msg {
	button {
		margin: 20px 0 0 0;
		float: right;
	}
}
