// Theme Name:  elsch-ausgaben
// Author:      Michael Schaefer
// Author URI:  https://elsch.net
// Version:     1.0 (2018-12)
// Text Domain:	elschnet_td
// *******************************





// *******************************
//  neu
// *******************************
// form neuer ort
#neuerort {
	margin-top: 0;
	
	@include av-mq(widescreen) {
		max-width: 410px;
		padding-left: 20px;
		padding-right: 20px;
	}
}


// form ohne beschriftung
.no_label {

	label {
		display: none;
	}
	
}



.box {
	&.error {
		border-bottom: 10px solid red;
	}
	
	&.notice {
		border-bottom: 10px solid yellow;
	}
}


form#neu {
	display: inline;
		
	// select-box schön stylen
	// https://www.clickstorm.de/blog/dropdown-css3/
	input, textarea,
	.elschselect select {
		border: none;
		width: 100%;
		max-width: 400px;
		padding: 5px 10px;
		background: #fff;
		color: #111;
		font-family: $body-font;
		font-size: $schrift-m;
		margin: .5rem 0;
	}
	
	input[type=text] {
		box-sizing : border-box;				
	}
	
	textarea {
		max-width: 380px;		
		font-size: $schrift-s;
		height: 100px;
		display: block;
		background: #efefef;
	}
	
	
	.elschselect {
		position: relative;
		
		&::before {
			content: ' ';
			background-image: url(assets/images/pfeil.svg);
			background-size: 40px 40px;
			height: 40px;
			width: 40px;
			position: absolute;
			right: 10px;
			top: -15px;
		}
		
		select {
			appearance: none;
			cursor: pointer;
			outline: none;
			overflow: hidden;
		}
		
		&.optional select {
			background: #efefef;			
		}
	}
	
	button  {
		float: right;
		margin-top: 20px;
		
		@include av-mq(widescreen) {
			margin-right: 10px;
		}
	}
}

// form neuer ort (abbrechen)
form#stop {
	display: inline;
	
	button  {
		background: #ccc;
		color: rgb(86, 86, 86);
		margin-top: 20px;
	}
}