// Theme Name:  elsch-ausgaben
// Author:      Michael Schaefer
// Author URI:  https://elsch.net
// Version:     1.0 (2018-12)
// Text Domain:	elschnet_td
// *******************************

.page-template-anleitung {

	.box {
		min-height: 10rem;
	}
}


#tagcloud {
	max-width: 600px;
	text-align: center;
	
	a {
		padding: 0 10px;
		border: none;
		vertical-align: middle;
		
		&:hover {
			color: #ccc;
			animation: flash 1.5s;
		}
	}
}



#all_icons {	
	
	a {
		border: none;
		
		&:hover {
			color: #ccc;
			animation: flash 1.5s;
		}
	}
	
	svg {
		vertical-align: text-bottom;
		width: 60px;
		height: 60px;
		fill: white; 
		margin: 5px 20px;
	}
	
	.all_icons {
		float: left;
		border: 1px solid #ccc;
		margin: 10px;
		padding: 10px;
		width: 110px;
		height: 110px;
		text-align: center;
	}
	
}

