// Theme Name:  elsch-ausgaben
// Author:      Michael Schaefer
// Author URI:  https://elsch.net
// Version:     1.0 (2018-12)
// Text Domain:	elschnet_td
// *******************************
.archive, 
.search,
.error404 {
	
	// das suchformular oben auf search.php
	.search form {
		padding: 0 .5rem;
	}
	
	@include av-mq(widescreen) {
	
		.grid__cell {
			max-width: 560px;
		}
		
		button.einzeln {
			max-width: 498px;
			margin: 10px 20px;
		}
		
		form {
			margin: 10px 20px;
		}
		
		p {
			margin: 10px 20px;
		}
	}
}