// Theme Name:  elsch-ausgaben
// Author:      Michael Schaefer
// Author URI:  https://elsch.net
// Version:     1.0 (2018-12)
// Text Domain:	elschnet_td
// *******************************

#single {	
	text-align: center;	

	// alle inhalte zentrieren
	header, section, hr, picture {
		max-width: 600px;
		margin: 0 auto;
		text-align: left;	
		clear: both;
	}

	
	// titel, kategorie + svg
	header {		
		position: relative;
		clear: both;
		height: auto;
		min-height: 90px;
		padding: 0 0 10px 0;

		svg {
			vertical-align: text-bottom;
			width: 60px;
			height: 60px;
			fill: white;
			position: absolute
		}
	}
	
	.single_head {
		font-size: 1.6rem;
		margin: .3rem 0 0 4.5rem;
		word-wrap: break-word;
			
		span {
			display: block;
			font-size: 60%;
		}
		
		.post-edit-link {
			font-size: 80%;
			display: inline;
		}
	}
}


#single section {
	font-size: 1.1rem;
	padding: 1rem 0 0 0;
	
	p { line-height: 100%; }

	
	&#links {
		line-height: 125%;
		
		a { margin-bottom: .5rem; }
	}
	
	&#pdf a {
		border: none;
	}
	
	h5 {
		font-size: 10px;
		padding: 5px 0 10px 0;
		margin: 0;
		font-weight: bold;
		border-top: 1px dotted grey;
	}
}
/*
#singlebuttons {
	button.einzeln {
		margin: 1rem 0;
	}
}
*/


// modal koordinaten + adressen
#single_koordinaten {
	text-align: center;
	padding: 2rem;
	
	h5 {
		font-size: 10px;
		padding: 0;
		margin: 0;
		font-weight: bold;
	}
	
	p {
		font-size: 2rem;
		margin: .5rem 0 2rem 0;
		
		span {
			font-size: 1rem;
			text-transform: uppercase;
			padding-right: 10px;
		}
	}
	
	#add {
		max-width: 400px;
		margin: .5rem auto;
		
		p {
			font-size: 1rem;			
		}
	
		a {
			color: $body-font-color;
			border-bottom: 1px solid $body-font-color;
			display: inline-block;
			margin-left: 10px;
		}
	}
}